<section id="dcDetails" class="<%= styleClass %> " >
    <div class="container">
        <form action="/insert" method="post">
            <legend class=" mb-5 text-center ">Insert your visys dc details:</legend>
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-6 ">
                <!-- id  -->
                <div class="col d-flex flex-column mb-2 ">
                    <label class="mb-2 form-label text-capitalize" for="id"
                        >visys dc id</label
                    >
                    <input class="form-control" type="text" name="id" />
                </div>
                <!-- location  -->
                <div class="col d-flex flex-column mb-2 ">
                    <label
                        class="mb-2 form-label text-capitalize"
                        for="location"
                        >visys dc location</label
                    >
                    <input class="form-control" type="text" name="location" />
                </div>
                <!-- url  -->
                <div class="col d-flex flex-column mb-2 ">
                    <label class="mb-2 form-label text-capitalize" for="url"
                        >visys dc url</label
                    >
                    <input class="form-control" type="text" name="url" />
                </div>
                <!-- port  -->
                <div class="col d-flex flex-column mb-2 ">
                    <label class="mb-2 form-label text-capitalize" for="port"
                        >visys dc port</label
                    >
                    <input class="form-control" type="text" name="port" />
                </div>
                <!-- status  -->
                <div class="col d-flex flex-column mb-2 ">
                    <label class="mb-2 form-label text-capitalize" for="status"
                        >visys dc status</label
                    >
                    <input class="form-control" type="text" name="status" />
                </div>
                <!-- flag  -->
                <div class="col d-flex flex-column mb-2 ">
                    <label class="mb-2 form-label text-capitalize" for="flag"
                        >visys dc flag</label
                    >
                    <input class="form-control" type="text" name="flag" />
                </div>
            </div>
            <!-- submit button  -->
            <div class=" mt-4 text-center ">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </form>
    </div>
</section>