<div class="container">
    <div class="sec-title-wrap">
        <h1 class="section-title">Insert</h1>
    </div>
    <div class="table-control">
        <p class="min-sec-title">Select Record Container :</p>
        <div class="btn-wrap">
            <a href="./details" class="<%= type === 'details' ? "active": "" %> " > visys details </a>
            <a href="./dc" class="<%= type === 'dc' ? "active": "" %> " > visys dc details </a>
            <a href="./shared" class="<%= type === 'shared' ? "active": "" %> " > visys shared details </a>
        </div>
    </div>
</div>