<!-- button list  -->
<div class="table-control">
    <p class="min-sec-title"><%= title %> </p>
    <div class="btn-wrap">
        <button data-btn-name="details" class="active">visys details</button>
        <button data-btn-name="dc">visys dc details</button>
        <button data-btn-name="shared">visys shared details</button>
    </div>
</div>