<div class="container">
    <!-- data form  -->
    <div class="user-form">
        <p class="min-sec-title">Search Your Record:</p>
        <div class="form-wrap">
            <% if (type === 'details') { %> 
                <%- include('../search/details.ejs') %>
            <% } else if (type === 'dc') { %> 
                <%- include('../search/dc.ejs') %>
            <% } else if (type === 'shared') { %> 
                <%- include('../search/shared.ejs') %>
            <% } %> 
        </div>
    </div>
</div>
