<section>
    <div class="container mt-5 ">
        <div class=" d-inline-block alert <%= alert.class %> ">
            <p class=" mb-0 "><%= alert.message %></p>
            <button></button>
        </div>
    </div>
</section>
