        <footer>
            <p>All right reserved by Visys 2022</p>
        </footer>
        <!-- js links  -->
        <!-- <script src="https://unpkg.com/@barba/core"></script>
        <script>
            barba.init({
                
            })
        </script> -->
        <script src="js/script.js"></script>
    </body>
</html>