        <header>
            <nav class="navbar border-bottom border-secondary bg-body-tertiary">
                <div class="container justify-content-center">
                    <ul class="navbar-nav mb-lg-0 flex-row">
                        <li class="nav-item px-3">
                            <a class="nav-link text-black active" href="insert"
                                >Insert Data</a
                            >
                        </li>
                        <li class="nav-item px-3">
                            <a class="nav-link text-black active" href="delete"
                                >Delete Data</a
                            >
                        </li>
                        <li class="nav-item px-3">
                            <a class="nav-link text-black active" href="update"
                                >Update Data</a
                            >
                        </li>
                        <li class="nav-item px-3">
                            <a class="nav-link text-black active" href="show-all"
                                >Report (All Data) </a
                            >
                        </li>
                    </ul>
                </div>
            </nav>
        </header>