<section id="sharedDetails" class="mt-4 d-none">
    <div class="container">
        <form action="/insert" method="post">
            <legend class="mb-5 text-center">
                Insert your visys shared details:
            </legend>
            <div
                class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-6"
            >
                <!-- id  -->
                <div class="col d-flex flex-column mb-2">
                    <label class="mb-2 form-label text-capitalize" for="name"
                        >visys name</label
                    >
                    <input class="form-control" type="text" name="name" />
                </div>
                <!-- location  -->
                <div class="col d-flex flex-column mb-2">
                    <label
                        class="mb-2 form-label text-capitalize"
                        for="url"
                        >visys url</label
                    >
                    <input class="form-control" type="text" name="url" />
                </div>
                <!-- url  -->
                <div class="col d-flex flex-column mb-2">
                    <label class="mb-2 form-label text-capitalize" for="port"
                        >visys port</label
                    >
                    <input class="form-control" type="text" name="port" />
                </div>
                <!-- port  -->
                <div class="col d-flex flex-column mb-2">
                    <label class="mb-2 form-label text-capitalize" for="user name"
                        >visys user name</label
                    >
                    <input class="form-control" type="text" name="user_name" />
                </div>
                <!-- status  -->
                <div class="col d-flex flex-column mb-2">
                    <label class="mb-2 form-label text-capitalize" for="user password"
                        >visys user password</label
                    >
                    <input class="form-control" type="text" name="user_password" />
                </div>
                <!-- flag  -->
                <div class="col d-flex flex-column mb-2">
                    <label class="mb-2 form-label text-capitalize" for="flag"
                        >visys flag</label
                    >
                    <input class="form-control" type="text" name="flag" />
                </div>
                <!-- shell_url  -->
                <div class="col d-flex flex-column mb-2">
                    <label class="mb-2 form-label text-capitalize" for="shell url"
                        >visys shell url</label
                    >
                    <input class="form-control" type="text" name="shell_url" />
                </div>
                <!-- attribute01  -->
                <div class="col d-flex flex-column mb-2">
                    <label class="mb-2 form-label text-capitalize" for="attribute01"
                        >visys attribute 01</label
                    >
                    <input class="form-control" type="text" name="attribute01" />
                </div>
                <!-- attribute02  -->
                <div class="col d-flex flex-column mb-2">
                    <label class="mb-2 form-label text-capitalize" for="attribute02"
                        >visys attribute 02</label
                    >
                    <input class="form-control" type="text" name="attribute02" />
                </div>
                <!-- attribute03  -->
                <div class="col d-flex flex-column mb-2">
                    <label class="mb-2 form-label text-capitalize" for="attribute03"
                        >visys attribute 03</label
                    >
                    <input class="form-control" type="text" name="attribute03" />
                </div>
                <!-- attribute04  -->
                <div class="col d-flex flex-column mb-2">
                    <label class="mb-2 form-label text-capitalize" for="attribute04"
                        >visys attribute 04</label
                    >
                    <input class="form-control" type="text" name="attribute04" />
                </div>
                <!-- attribute05 -->
                <div class="col d-flex flex-column mb-2">
                    <label class="mb-2 form-label text-capitalize" for="attribute05"
                        >visys attribute 05</label
                    >
                    <input class="form-control" type="text" name="attribute05" />
                </div>
            </div>
            <!-- submit button  -->
            <div class="mt-4 text-center">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </form>
    </div>
</section>
