<form data-form-name="dc" method="post">
    <div class="input-list">
        <input type="text" name="form_type" value="dc" class="form-type">
        <div class="input-wrap">
            <label for="id">Visys Dc Id:</label>
            <input type="text" name="visys_dc_id" />
        </div>
        <div class="input-wrap">
            <label for="location">Visys Dc location:</label>
            <input type="text" name="visys_dc_location" />
        </div>
        <div class="input-wrap">
            <label for="url">Visys Dc url:</label>
            <input type="text" name="visys_dc_url" />
        </div>
        <div class="input-wrap">
            <label for="port">Visys Dc port:</label>
            <input type="text" name="visys_dc_port" />
        </div>
        <div class="input-wrap">
            <label for="status">Visys Dc status:</label>
            <input type="text" name="visys_dc_status" />
        </div>
        <div class="input-wrap">
            <label for="flag">Visys Dc flag:</label>
            <input type="text" name="visys_dc_flag" />
        </div>
    </div>

    <div class="submit-wrap">
        <input type="submit" value="submit" />
    </div>
</form>
