<form data-form-name="shared" method="post">
    <div class="input-list">
        <input type="text" name="form_type" value="shared" class="form-type" />
        <div class="input-wrap">
            <label for="name">Visys Name:</label>
            <input type="text" name="visys_name" />
        </div>
        <div class="input-wrap">
            <label for="url">Visys url:</label>
            <input type="text" name="visys_url" />
        </div>
        <div class="input-wrap">
            <label for="port">Visys port:</label>
            <input type="text" name="visys_port" />
        </div>
        <div class="input-wrap">
            <label for="user_user_name">Visys user name:</label>
            <input type="text" name="visys_user_name" />
        </div>
        <div class="input-wrap">
            <label for="user_user_password">Visys user password:</label>
            <input type="text" name="visys_user_password" />
        </div>
        <div class="input-wrap">
            <label for="visys_flag">Visys flag:</label>
            <input type="text" name="visys_flag" />
        </div>
        <div class="input-wrap">
            <label for="shell_url">Visys shell url:</label>
            <input type="text" name="visys_shell_url" />
        </div>
        <div class="input-wrap">
            <label for="attribute_01">Visys Attribute 01:</label>
            <input type="text" name="visys_attribute_01" />
        </div>
        <div class="input-wrap">
            <label for="attribute_02">Visys Attribute 02:</label>
            <input type="text" name="visys_attribute_02" />
        </div>
        <div class="input-wrap">
            <label for="attribute_03">Visys Attribute 03:</label>
            <input type="text" name="visys_attribute_03" />
        </div>
        <div class="input-wrap">
            <label for="attribute_04">Visys Attribute 04:</label>
            <input type="text" name="visys_attribute_04" />
        </div>
        <div class="input-wrap">
            <label for="attribute_05">Visys Attribute 05:</label>
            <input type="text" name="visys_attribute_05" />
        </div>
    </div>

    <div class="submit-wrap">
        <input type="submit" value="submit" />
    </div>
</form>
