<form data-form-name="details" class="active" method="post">
    <div class="input-list">
        <div class="input-wrap">
            <label for="name">Visys Name:</label>
            <input type="text" name="visys_name" />
        </div>
        <div class="input-wrap">
            <label for="url">Visys url:</label>
            <input type="text" name="visys_url" />
        </div>
        <div class="input-wrap">
            <label for="port">Visys port:</label>
            <input type="text" name="visys_port" />
        </div>
        <!-- <div class="input-wrap">
            <label for="user_name">Visys user name:</label>
            <input type="text" name="visys_user_name" />
        </div>
        <div class="input-wrap">
            <label for="user_password">Visys user password:</label>
            <input type="text" name="visys_user_password" />
        </div>
        <div class="input-wrap">
            <label for="flag">Visys flag:</label>
            <input type="text" name="visys_flag" />
        </div>
        <div class="input-wrap">
            <label for="shell_url">Visys shell url:</label>
            <input type="text" name="visys_shell_url" />
        </div> -->
    </div>

    <div class="submit-wrap">
        <input type="submit" value="search" />
    </div>
</form>
