<form data-form-name="shared" method="post">
    <div class="input-list">
        <div class="input-wrap">
            <label for="name">Visys Name:</label>
            <input type="text" name="visys_name" />
        </div>
        <div class="input-wrap">
            <label for="url">Visys url:</label>
            <input type="text" name="visys_url" />
        </div>
        <div class="input-wrap">
            <label for="port">Visys port:</label>
            <input type="text" name="visys_port" />
        </div>
    </div>

    <div class="submit-wrap">
        <input type="submit" value="search" />
    </div>
</form>
