<div data-card-name="shared" class="card shared-card">
    <div class="c-head">
        <p>Type: Visys Shared Details</p>
    </div>
    <div class="c-body">
        <div class="c-item">
            <p>Name:</p>
            <p>Mohd Rejoan</p>
        </div>
        <div class="c-item">
            <p>Url:</p>
            <p>https://google.com</p>
        </div>
        <div class="c-item">
            <p>Port:</p>
            <p>8524522</p>
        </div>
        <div class="c-item">
            <p>user name:</p>
            <p>rejoan121615</p>
        </div>
        <div class="c-item">
            <p>password:</p>
            <p>dsfadsgeet</p>
        </div>
        <div class="c-item">
            <p>flag:</p>
            <p>bangladesh</p>
        </div>
        <div class="c-item">
            <p>Shell url:</p>
            <p>dfdsfsfsdifnsf</p>
        </div>
        <div class="c-item">
            <p>Attributes 01:</p>
            <p>something</p>
        </div>
        <div class="c-item">
            <p>Attributes 02:</p>
            <p>something</p>
        </div>
        <div class="c-item">
            <p>Attributes 03:</p>
            <p>something</p>
        </div>
        <div class="c-item">
            <p>Attributes 04:</p>
            <p>something</p>
        </div>
        <div class="c-item">
            <p>Attributes 05:</p>
            <p>something</p>
        </div>
    </div>
</div>
