<div data-card-name="details" class="card">
    <div class="c-head">
        <p>Type: Visys Details</p>
    </div>
    <div class="c-body">
        <div class="c-item">
            <p>Name:</p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </div>
        <div class="c-item">
            <p>Url:</p>
            <p>https://google.com</p>
        </div>
        <div class="c-item">
            <p>Port:</p>
            <p>8524522</p>
        </div>
        <div class="c-item">
            <p>user name:</p>
            <p>rejoan121615</p>
        </div>
        <div class="c-item">
            <p>password:</p>
            <p>dsfadsgeet</p>
        </div>
        <div class="c-item">
            <p>flag:</p>
            <p>bangladesh</p>
        </div>
    </div>
</div>
