<%- include('../partials/header.ejs') %>
<section data-barba="container" data-barba-namespace="delete">
    <div class="container">
        <%- include('../partials/components/searchBox.ejs', {title: "Search and delete records"}) %>
    </div>
</section>
<%- include('../partials/footer.ejs') %>
