<%- include('../partials/header.ejs') %>
<section data-barba="container" data-barba-namespace="edit">
    <!-- control btns  -->
    <%- include('../partials/components/controlBtns.ejs', {type: type}) %> 
    <!-- forms  -->
    <%- include('../partials/components/searchBox.ejs', {type: type}) %> 
    <div class="container">
        <!-- recent added  -->
        <div class="recent-added">
            <div>
                <p class="section-title">Record list based on your search:</p>
                <div class="card-list"></div>
                <!-- details shared card  -->
            </div>
        </div>
    </div>
</section>
<%- include('../partials/footer.ejs') %>
