<%- include('../partials/header.ejs') %>

<main data-barba="container" data-barba-namespace="home">
    <div class="container">
        <div class="animation-wrap">
            <img src="images/database.gif" alt="database animation gif" />
        </div>
        <h1>Easy record storage</h1>
        <p>Insert, edit, delete data easily.</p>
        <div class="btn-wrap">
            <a href="" class="btn-lg">get started</a>
        </div>
    </div>
</main>

<%- include('../partials/footer.ejs') %>
