<%- include('../partials/header.ejs') %>
<section data-barba="container" data-barba-namespace="insert">
    <!-- control btns  -->
    <div class="container">
        <div class="sec-title-wrap">
            <h1 class="section-title">Insert</h1>
        </div>
        <div class="table-control">
            <p class="min-sec-title">Select Record Container :</p>
            <!-- button list  -->
            <div class="btn-wrap">
                <button class="active">visys details</button>
                <button>visys dc details</button>
                <button>visys shared details</button>
            </div>
        </div>
        <!-- data form  -->
        <div class="user-form">
            <p class="min-sec-title">Input your data:</p>
            <div class="form-wrap">
                <form method="post">
                    <div class="input-list">
                        <div class="input-wrap">
                            <label for="name">Visys Name:</label>
                            <input type="text" name="visys_name" />
                        </div>
                        <div class="input-wrap">
                            <label for="url">Visys url:</label>
                            <input type="text" name="visys_url" />
                        </div>
                        <div class="input-wrap">
                            <label for="port">Visys port:</label>
                            <input type="text" name="visys_port" />
                        </div>
                        <div class="input-wrap">
                            <label for="user_name">Visys user name:</label>
                            <input type="text" name="visys_user_name" />
                        </div>
                        <div class="input-wrap">
                            <label for="user_password"
                                >Visys user password:</label
                            >
                            <input type="text" name="visys_user_password" />
                        </div>
                        <div class="input-wrap">
                            <label for="flag">Visys flag:</label>
                            <input type="text" name="visys_flag" />
                        </div>
                        <div class="input-wrap">
                            <label for="shell_url">Visys shell url:</label>
                            <input type="text" name="visys_shell_url" />
                        </div>
                    </div>

                    <div class="submit-wrap">
                        <input type="submit" value="submit" />
                    </div>
                </form>
            </div>
        </div>
        <!-- recent added  -->
        <div class="recent-added">
            <p class="section-title">Most recent records:</p>
            <div class="card-list">
                <!-- details card  -->
                <div class="card">
                    <div class="c-head">
                        <p>Type: Visys Details</p>
                    </div>
                    <div class="c-body">
                        <div class="c-item">
                            <p>Name:</p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua.
                            </p>
                        </div>
                        <div class="c-item">
                            <p>Url:</p>
                            <p>https://google.com</p>
                        </div>
                        <div class="c-item">
                            <p>Port:</p>
                            <p>8524522</p>
                        </div>
                        <div class="c-item">
                            <p>user name:</p>
                            <p>rejoan121615</p>
                        </div>
                        <div class="c-item">
                            <p>password:</p>
                            <p>dsfadsgeet</p>
                        </div>
                        <div class="c-item">
                            <p>flag:</p>
                            <p>bangladesh</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="c-head">
                        <p>Type: Visys Details</p>
                    </div>
                    <div class="c-body">
                        <div class="c-item">
                            <p>Name:</p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua.
                            </p>
                        </div>
                        <div class="c-item">
                            <p>Url:</p>
                            <p>https://google.com</p>
                        </div>
                        <div class="c-item">
                            <p>Port:</p>
                            <p>8524522</p>
                        </div>
                        <div class="c-item">
                            <p>user name:</p>
                            <p>rejoan121615</p>
                        </div>
                        <div class="c-item">
                            <p>password:</p>
                            <p>dsfadsgeet</p>
                        </div>
                        <div class="c-item">
                            <p>flag:</p>
                            <p>bangladesh</p>
                        </div>
                    </div>
                </div>
                <!-- details shared card  -->
                <div class="card shared-card">
                    <div class="c-head">
                        <p>Type: Visys Shared Details</p>
                    </div>
                    <div class="c-body">
                        <div class="c-item">
                            <p>Name:</p>
                            <p>Mohd Rejoan</p>
                        </div>
                        <div class="c-item">
                            <p>Url:</p>
                            <p>https://google.com</p>
                        </div>
                        <div class="c-item">
                            <p>Port:</p>
                            <p>8524522</p>
                        </div>
                        <div class="c-item">
                            <p>user name:</p>
                            <p>rejoan121615</p>
                        </div>
                        <div class="c-item">
                            <p>password:</p>
                            <p>dsfadsgeet</p>
                        </div>
                        <div class="c-item">
                            <p>flag:</p>
                            <p>bangladesh</p>
                        </div>
                        <div class="c-item">
                            <p>Shell url:</p>
                            <p>dfdsfsfsdifnsf</p>
                        </div>
                        <div class="c-item">
                            <p>Attributes 01:</p>
                            <p>something</p>
                        </div>
                        <div class="c-item">
                            <p>Attributes 02:</p>
                            <p>something</p>
                        </div>
                        <div class="c-item">
                            <p>Attributes 03:</p>
                            <p>something</p>
                        </div>
                        <div class="c-item">
                            <p>Attributes 04:</p>
                            <p>something</p>
                        </div>
                        <div class="c-item">
                            <p>Attributes 05:</p>
                            <p>something</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="c-head">
                        <p>Type: Visys Details</p>
                    </div>
                    <div class="c-body">
                        <div class="c-item">
                            <p>Name:</p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua.
                            </p>
                        </div>
                        <div class="c-item">
                            <p>Url:</p>
                            <p>https://google.com</p>
                        </div>
                        <div class="c-item">
                            <p>Port:</p>
                            <p>8524522</p>
                        </div>
                        <div class="c-item">
                            <p>user name:</p>
                            <p>rejoan121615</p>
                        </div>
                        <div class="c-item">
                            <p>password:</p>
                            <p>dsfadsgeet</p>
                        </div>
                        <div class="c-item">
                            <p>flag:</p>
                            <p>bangladesh</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include('../partials/footer.ejs') %>
