<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css"
            integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <link rel="stylesheet" href="css/style.css" />
    </head>
    <body>
        <!-- navbar  -->
        <%- include('Partials/navbar.ejs') %>
        <!-- form input  -->
        <section class="mt-5">
            <div class="container">
                <form action="/insert" type="POST">
                    <div class="row">
                        <div class="col d-flex flex-column">
                            <label class="mb-2" for="name">Name</label>
                            <input type="text" name="name" />
                        </div>
                        <div class="col d-flex flex-column">
                            <label class="mb-2" for="email">Email</label>
                            <input type="email" name="email" />
                        </div>
                        <div class="col d-flex flex-column">
                            <label class="mb-2" for="address">Address</label>
                            <input type="text" name="address" />
                        </div>
                        <div class="col d-flex flex-column">
                            <label class="mb-2" for="phone number"
                                >Phone Number</label
                            >
                            <input type="text" name="phone_number" />
                        </div>
                    </div>
                    <!-- submit button  -->
                    <div class="mt-4">
                        <button class="btn btn-primary" type="submit">
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </section>
        <!-- js link  -->
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js"
            integrity="sha512-1/RvZTcCDEUjY/CypiMz+iqqtaoQfAITmNSJY17Myp4Ms5mdxPS5UV7iOfdZoxcGhzFbOm6sntTKJppjvuhg4g=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        ></script>
    </body>
</html>
