<%- include('./Partials/header.ejs') %>
<!-- navbar  -->
<%- include('Partials/navbar.ejs') %>
<!-- form input  -->
<section class="mt-5">
    <div class="container">
        <form action="/delete" method="post">
            <legend class="mb-5">
                Search the data you want to update.
            </legend>
            <div class="row">
                <!-- id  -->
                <div class="col d-flex flex-column">
                    <label class="mb-2 form-label text-capitalize" for="id"
                        >visys dc id</label
                    >
                    <input class="form-control" type="text" name="id" />
                </div>
                <!-- location  -->
                <div class="col d-flex flex-column">
                    <label
                        class="mb-2 form-label text-capitalize"
                        for="location"
                        >visys dc location</label
                    >
                    <input class="form-control" type="text" name="location" />
                </div>
                <!-- submit button  -->
                <div class="col d-flex align-items-end ">
                    <button class="btn btn-primary" type="submit">
                        Search Data
                    </button>
                </div>
            </div>
        </form>
    </div>
</section>
<!-- retrived result data  -->
<% if (result) { %>
<section class="mt-5">
    <div class="container">
        <%- include('./Partials/detailsResult.ejs', {...result}) %> 
    </div>
</section>
<% } %>
<!-- page footer  -->
<%- include('./Partials/footer.ejs') %>
